*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 14px;
}
:root{
	--indie: 'Indie Flower', cursive;
	--josefin:  'Josefin Sans', sans-serif;
	--nunito: 'Nunito', sans-serif;
	--osans: 'Open Sans', sans-serif;
	--poppins:  'Poppins', sans-serif;
}
.navbar{
	box-shadow:  none !important;
}
html {
	scroll-behavior: smooth;
}
body{
	font-family: var(--poppins) !important;
	word-wrap: break-word;
}
a{
	font-family: var(--poppins) !important;
}

.vh-100{
	min-height: 100vh;
	height: auto;
}
.social{
	font-size: 1.5em;
}
.active{
	background-color: rgb(9, 42, 72);
	border-radius: 2px;
}
.active a{
	color: #fff;
	font-weight: bold;
}
.section-title{
	color: rgb(9, 42, 72);
	font-weight: bold;
	font-family: var(--poppins);
}
.section-subtitle{
	text-transform: uppercase;
	color: #9BC53D;
}
.media-icon{
	border: 2px solid  rgb(9, 42, 72);
	border-radius: 5px;
}
.media-icon:hover{
	background-color: #9BC53D;
}
.media-icon-img{
	object-fit: contain;
	width: 50px;
	height: 50px;
	fill:  	rgb(9, 42, 72) !important;
}
.nav-link:hover{
	color: white;
}

.left{
	width: 70px;
	border-top: 3px solid #9BC53D;
	margin: 15px 0px 15px 0px;
}
#cv-download{
	background: rgb(9, 42, 72);  /* fallback for old browsers */
	color: #fff;
}
#cv-download:hover{
	background-color: #fff;
	color: #FFA73D;
}
#intro-section h1{
	/*font-family: var(--indie);*/
	font-weight: bold;
	font-size: 2.5em;
	text-shadow: 1px 2px #000;
}
#about-section{
	height: auto;
}

.tag-line{
	font-family: var(--josefin);
}
img{
	object-fit: contain;
}
.center{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
a{
	color: #5F2528;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#intro-section{
		/*background-image: url('../uploads/img/COVER.png');*/
		background-color:  #9BC53D;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#intro-section{
		/*background-image: url('../uploads/img/COVER.png');*/
		background-color:  #9BC53D;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#intro-section{
		/*background-image: url('../uploads/img/COVER.png');*/
		background-color:  #9BC53D;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#intro-section{
		/*background-image: url('../uploads/img/COVER2.png');*/
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-color:  #9BC53D;
	}
	#intro-img{
		height: 300px !important;
	}
}

.divider{
	width: 25%;
	height: 10px;
	background-color:  #9BC53D;
	border-radius: 5px;
}
.company{
	width: 100%;
	height: 100px;
}
.profile{
	width: 300px;
	height: 300px;
}
.skill-container{
	width: 100%;
	background-color: 	#E9ECEF;
	border-radius: 5px;

}
.skill{
	text-align: right; /* Right-align text */
	padding: 5px; /* Add some padding */
	color: white; /* White text color */
}
.skill-70{
	border-radius: 5px;
	width: 70%; background-color: #107AF9;
}
.skill-30{
	border-radius: 5px;
	width: 30%; background-color: #107AF9;
}
#contact-form{
	color: #000;
	font-family: var(--nunito) !important;
	font-weight: 600;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
button{
	font-family: var(--nunito) !important;
	font-size: 14px !important;
	text-transform: none !important;
}
textarea{
	resize: none;
}
.btn-submit{
	background-color: rgb(9, 42, 72);
}
#qoute-container{
	height: 300px; 
	background-image:url('../svg/dev-bg.webp'); 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover;"
}